
    <div class="row mt-4">
        <div class="col-md-8 col-sm-8">
            <h3>Listado de Ordenes</h3>
        </div>  
        <div class="col-md-4 col-sm-4 text-md-end">
            
            <div class="btn-group">
                <button  title="Capturar una nueva " class="btn btn-sm btn-success" [routerLink]="['/orden', 0]"><i class="fas fa-plus"></i> Nuevo</button>
            </div>
        </div>
        <hr>
        </div>  
        <div class="row">
            <div class="col-md-12">
                <kendo-grid
                [kendoGridBinding]="ListOrdenes"
                style="height: 80vh;"
                [filterable]="true"
                [sortable]="false"
                [pageable]="true"
                [pageSize]="15"
                
                >
    
                <kendo-grid-column [width]="50" title="# Pedido">
    
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <!-- <button class="btn btn-link">{{dataItem.number}}</a> -->
                        <button class="btn btn-link " title="Ver oorden"  [routerLink]="['/orden', dataItem.id]">{{dataItem.number}}</button>
                      </ng-template>
                </kendo-grid-column>
    
                <!-- A quien se enviara el paquete -->
                <kendo-grid-column [width]="100" field="shippingAddress.firstName + shippingAddress.lastName" title="Envio Para"> 
    
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        {{dataItem.shippingAddress.firstName || ''}}  {{dataItem.shippingAddress.lastName || ''}}
                        
                      </ng-template>
    
                </kendo-grid-column>
    
                <!-- Direccion de envio -->
                <kendo-grid-column [width]="130" field="shippingAddress.firstName + shippingAddress.lastName" title="Dirección envio"> 
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        {{'Calle: ' + dataItem.shippingAddress.address1 || ''}}  {{' País:' + dataItem.shippingAddress.lastName || ''}}
                        {{' C.P.:' + dataItem.shippingAddress.postalCode || ''}} {{' Ciudad:' + dataItem.shippingAddress.city}}
                      </ng-template>
                </kendo-grid-column>
    
                <kendo-grid-column [width]="70" field="shippingAddress.phone" title="Telfono"    ></kendo-grid-column>
    
                    <kendo-grid-column [width]="50" field="totals.total" title="Total"    filter="numeric"
                    format="{0:c}"> </kendo-grid-column>
                    <kendo-grid-column [width]="50" field="totals.subtotal" title="Subtotal" filter="numeric"
                    format="{0:c}"> </kendo-grid-column>
                    <kendo-grid-column [width]="50" field="totals.tax" title="Impuestos" filter="numeric"
                    format="{0:c}"> </kendo-grid-column>
    
                    <kendo-grid-column [width]="50" field="currency" title="Moneda"> </kendo-grid-column>
                    <kendo-grid-column [width]="100" field="dates.createdAt" title="Fecha Creacion"> </kendo-grid-column>
    
    
    
                </kendo-grid>
            </div>
        </div>
      
